---
import Layout from "../layouts/Layout.astro";
import { getPokemon } from "../services/pokemonFetch";
import { createPokemon } from "../services/pokemonCombat"

const chosenPokemon = "aquali";

const aquali = await getPokemon([chosenPokemon]);

console.log(aquali);

const newPokemon = createPokemon(aquali)

console.log(newPokemon)

const defender = "mentali"

const mentali = await getPokemon([defender])

const pokemonTwo = createPokemon(mentali)

console.log(pokemonTwo)

---

<Layout>
  <div>
    {aquali.map((pokemon) =>
    <h1>{pokemon.name}</h1>
    <div>
    <p>{pokemon.stats.hp}</p>
    </div>
    )}
  </div>
</Layout>
