---
import Layout from "../layouts/Layout.astro";
import { getPokemon } from "../services/pokemonFetch";
import { createPokemon } from "../services/pokemonCombat";
import { Image } from "astro:assets";

const atkArray = [
  "ronflex",
  "lokhlass",
  "mewtwo",
  "feunard",
  "tyranocif",
  "dracaufeu",
  "tortank",
];
const attaquantIndex = Math.floor(Math.random() * atkArray.length);
const attaquant = atkArray[attaquantIndex];
const atkPokemon = await getPokemon([attaquant]);
const atk = createPokemon(atkPokemon);

const defArray = [
  "ronflex",
  "lokhlass",
  "mewtwo",
  "feunard",
  "tyranocif",
  "dracaufeu",
  "tortank",
  "pikachu",
];
const defenseurIndex = Math.floor(Math.random() * defArray.length);
const defenseur = defArray[defenseurIndex];
const defPokemon = await getPokemon([defenseur]);
const def = createPokemon(defPokemon);

console.log(atk, def);
---

<Layout>
  <div class="combat-card">
    <div class="pokemon flex flex-columns justify-evenly">
      <div class="attaquant">
        {atk.name}
        <Image
          src={atk.image}
          alt="Image"
          class="mb-6"
          width="300"
          height="300"
        />
      </div>

      <div class="defenseur">
        {def.name}
        <Image
          src={def.image}
          alt="Image"
          class="mb-6"
          width="300"
          height="300"
        />
      </div>
    </div>
  </div>
  <button id="attaquant-btn">Dévoiler les pokémons!</button>
  <button id="combat" class="pokemon">Combat !</button>
  <script>
    import { useAttack } from "../services/pokemonCombat";
    const atkbutton = document.getElementById("attaquant-btn");
    const combatButton = document.getElementById("combat");

    atkbutton?.addEventListener("click", (event) => {
      event.preventDefault;
      const pokemonCard = document.querySelector(".pokemon");
      pokemonCard?.classList.remove("pokemon");
      combatButton?.classList.remove("pokemon");
      atkbutton.classList.add("pokemon");
    });

    combatButton?.addEventListener("click", () => {
      useAttack(atk, def);
    });
  </script>
</Layout>

<style>
  .pokemon {
    display: none;
  }
</style>
