---
import Layout from "../layouts/Layout.astro";
import { getPokemon } from "../services/pokemonFetch";

console.log("test");

const chosenPokemon = "aquali";
console.log(chosenPokemon);

const aquali = await getPokemon([chosenPokemon]);

console.log(aquali);
---

<Layout>
  <div>
    {aquali.map((pokemon) =>
    <h1>{pokemon.name}</h1>
    <div>
    <p>{pokemon.stats.hp}</p>
    </div>
    )}
  </div>
</Layout>
