---
import Layout from "../layouts/Layout.astro";
import { getPokemon } from "../services/pokemonFetch";
import { createPokemon } from "../services/pokemonCombat";

const chosenPokemon = "aquali";

const aquali = await getPokemon([chosenPokemon]);

console.log(aquali);

const newPokemon = createPokemon(aquali);

console.log(newPokemon);

const defender = "mentali";

const mentali = await getPokemon([defender]);

const pokemonTwo = createPokemon(mentali);

console.log(pokemonTwo);

const touche = newPokemon.useAttack(pokemonTwo);

console.log(touche);
---

<Layout>
  <div>
    <form>
      <input class="input-choice" placeholder="Choisissez votre compagnon" />
      <button id="choice">Choisir</button>
    </form>
    <div class="choice-log"></div>
  </div>
  <button id="random-defender">Pokémon Défenseur Aléatoire</button>
  <button class="btn">Combat !</button>
</Layout>
<script>
  const buttonChoice = document.getElementById("choice");
  const choice = document.querySelector(".input-choice").innerText;
  buttonChoice?.addEventListener("click", (event) => {
    event.preventDefault();
    console.log(choice);
    let choiceDiv = document.querySelector(".choice-log");
  });
</script>
