---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CitationCard from "../components/CitationCard.astro";
---

<Layout>
  <div class="container">
    <CitationCard />
  </div>
  <Card />
</Layout>
