---
import { Image } from "astro:assets";
import Sacha from "../assets/images/Sacha.jpg";
---

<section
  class="w-[100%] mt-20 mx-auto py-10 pt-30 px-10 bg-white rounded-2xl relative"
>
  <Image
    src={Sacha}
    alt="Sacha et Pikachu"
    id="sacha"
    class="w-[150px] h-[150px]"
  />
  <!-- <img id="sacha" src="src/assets/images/Sacha.jpg" alt="Sacha et Pikachu" /> -->
  <h3 class="text-cyan-700 text-center">
    "Rien n'est plus fort que le lien qui unit un Pokémon à son dresseur."
  </h3>
  <div class="w-[80%] text-center mx-auto my-10 flex flex-row flex-wrap gap-6">
    <p>
      Dans le vaste monde de Pokémon, où la nature et la magie se rencontrent,
      il existe un lien unique et profond qui unit un dresseur à son Pokémon.
      C'est une connexion qui transcende les mots, une force invisible qui les
      lie l'un à l'autre dans une danse harmonieuse de confiance, d'amitié et de
      soutien mutuel.
    </p>
    <p>
      Dès le premier regard, lorsque le jeune dresseur rencontre son premier
      Pokémon, une étincelle s'allume. Une étincelle qui grandit et se nourrit
      de chaque instant partagé, de chaque aventure vécue ensemble. Les défis,
      les joies, les peines, tout contribue à forger ce lien indestructible.
    </p>
    <p>
      Au cœur de cette relation, la confiance règne en maître. Le dresseur sait
      qu'il peut compter sur son Pokémon, et le Pokémon sait que son dresseur le
      guidera et le protégera. C'est une danse de respect mutuel, où chacun
      reconnaît la valeur et la force de l'autre.
    </p>
    <p>
      Mais le lien entre un dresseur et son Pokémon ne se limite pas aux combats
      et aux aventures. Il est bien plus profond que cela. C'est un réconfort
      dans les moments difficiles, une présence chaleureuse qui réchauffe le
      cœur. Les Pokémon sont des compagnons fidèles, toujours là pour offrir
      leur amour et leur soutien inconditionnels.
    </p>
    <p>
      Dans les épreuves de la vie, les Pokémon sont une source de force
      inestimable. Ils donnent à leur dresseur le courage de se battre, de
      surmonter les obstacles, de ne jamais abandonner. Ils sont un rappel
      constant de la beauté et de la bonté du monde, une lumière dans les
      ténèbres.
    </p>
    <p>
      Et puis, il y a les combats. Ces moments où le lien entre un dresseur et
      son Pokémon atteint son apogée. Ensemble, ils se battent avec courage et
      détermination, leurs cœurs battant à l'unisson. Chaque attaque, chaque
      mouvement est une preuve de leur connexion profonde.
    </p>
    <p>
      Le lien qui unit un dresseur à son Pokémon est un trésor précieux, un
      cadeau de la nature. C'est une relation qui dure toute une vie, remplie de
      moments inoubliables et d'émotions intenses. C'est une histoire d'amour,
      d'amitié et de confiance, une histoire qui se transmet de génération en
      génération.
    </p>
    <p>
      Alors, la prochaine fois que vous croiserez un dresseur et son Pokémon,
      prenez un instant pour admirer la beauté de leur lien. Car c'est là, dans
      cette connexion profonde, que réside la véritable magie du monde de
      Pokémon.
    </p>
  </div>
</section>

<style>
  #sacha {
    /* width: 150px;
    height: 150px; */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -30%);
    border: 10px solid white;
  }
</style>
