<header>
  <nav class="flex justify-between px-4 py-8 mx-auto">
    <ul>
      <li><h2><a href="/">PokeTeam</a></h2></li>
    </ul>
    <ul class="flex flex-row space-x-16 items-center">
      <li><h4><a href="#">Team</a></h4></li>
      <li><h4><a href="/combat">Combats</a></h4></li>
      <li><h4><a href="#">Statistiques</a></h4></li>
    </ul>
  </nav>
</header>

<style>
  header {
    width: 100%;
  }

  nav {
    max-width: 1200px;
  }

  @media (width > 1280px) {
    nav {
      max-width: 90%;
    }
  }
</style>
